{% extends "layout.html" %}

{% block title %}
    Add Review, M&YBooks experts.
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<div class="">
  <h4 style="text-align:center;">Add Review:</h4>
</div>
<form action="{{url_for('addreview', bookisbn=bookisbn)}}" method="POST" style="margin: auto; display: table; width:60%; hight:45%;">
  <h6 style="text-align:center;">Please rate this book (1-Low, 5-High).</h6>
  <div style="margin: auto; display: table;">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="ratereview" id="inlineRadio1" value="1">
      <label class="form-check-label" for="inlineRadio1">1</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="ratereview" id="inlineRadio1" value="2">
      <label class="form-check-label" for="inlineRadio1">2</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="ratereview" id="inlineRadio1" value="3">
      <label class="form-check-label" for="inlineRadio1">3</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="ratereview" id="inlineRadio1" value="4">
      <label class="form-check-label" for="inlineRadio1">4</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="ratereview" id="inlineRadio1" value="5">
      <label class="form-check-label" for="inlineRadio1">5</label>
    </div>
  </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Add a written review</label>
        <textarea class="form-control" name="reviewcontent" id="exampleFormControlTextarea1" rows="7"></textarea>
      </div>
      <input type="submit" id="reviewButton" class="btn btn-primary btn-lg" value="Send">
</form>
{% endblock %}
