<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/CssProject1.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="homeBody">
<div class="maindiv">
  <div id="titelWelcome" class="titWelcome"></div></br>
   <div class="bottuns" style="display: table; margin-left: auto; margin-right: auto; margin-top:2%;">
    {% block HomePage %}
     {% if session.get("user_id") is not none: %}
        <a href="/search"> <button type="submit" class="btn btn-warning btn-lg"style="font-family: Bangers;">Search</button></a>
     {% endif %}

   {% if session.get("user_id") is none: %}
   <a href="register"><input type="button" id="tosignup" class="btn btn-primary btn-lg" value="Sign Up"style="font-family: Bangers;"></a>
   <a href="login"><input type="button" id="tologin" class="btn btn-primary btn-lg" value="Log In"style="font-family: Bangers;"></a>
   {% endif %}
 {% endblock %}

   </div>
  </div>
      <div class="copyright">
        Copyrights M&Y Design ©
      </div>
  </body>
</html>
