<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/CssProject1.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="homeBody">
<div class="maindiv">
<h2 class="titWelcome">
  WELLCOME to M&YBooks
</h2>
<div class="signinSeq">

</div>
<div classs="registerSeq">

</div>
</div>
      <div class="copyright">
        Copyrights M&Y Design ©
      </div>
  </body>
</html>
